* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  width: 90%;
  height: 580px;
  margin: auto;
  background-color: #ddd;

  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */

  flex-flow: column wrap;

  /* flex-wrap: no-wrap; */
  /* flex-wrap: wrap-reverse; */
  /* flex-wrap: wrap; */

  /* justify-content:flex-start; */
  /* justify-content:center; */
  /* justify-content:space-around; */
  /* justify-content:space-between; */
  /* justify-content:space-evenly; */
  /* justify-content:flex-end; */

  align-items: stretch;
  /* align-items: flex-start; */

  /* align-items: center; */

}

.box {
  text-align: center;
  background: tomato;
  width: 30%;
  height: 50px;
  padding: 10px;
  margin: 10px;
}
.box__sec {
  text-align: center;
  background: rgb(29, 184, 24);
  width: 30%;
  height: 50px;
  padding: 10px;
  margin: 10px;
}
